#fullscreen {
  background: white;
  position: absolute;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#fullscreen.hide {
  display: none;
}

.is-fullscreen {
  height: 100%;
  width: 100%;
}
